html(lang="en")
  head
    meta(charset="utf-8")
    title Slideshows
    meta(name="description", content="Ben Gauslin’s Slideshows")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400")
  <body>
    div#app
