doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Slideshows
    meta(name="description" content="Ben Gauslin’s Slideshows")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="preconnect" href="https://gauslin.com")
    link(rel="preconnect" href="https://assets.gauslin.com")
  body
    div#app
