doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Slideshows
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="/AvenirNext-Variable.woff2" rel="preload" as="font" type="font/woff2" crossorigin="crossorigin")
    link(href="/SourceSans-Variable-Roman.woff2" rel="preload" as="font" type="font/woff2" crossorigin="crossorigin")
  body
    div#app
    script(src="https://css.gauslin.com/debugger.js" data-src="/breakpoints.json" data-theme="light")
