- const title = "Slideshows"
- const description = "Ben Gauslin’s Slideshows"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="preconnect" href="https://cms.gauslin.com")
    link(rel="preconnect" href="https://assets.gauslin.com")
    link(rel="preload" href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
    link(rel="preload" href="https://assets.gauslin.com/fonts/SourceSans-Variable-Roman.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
  body(no-touch)
    div#app
  if (process.env.NODE_ENV === 'development')
    script(src="https://css.gauslin.com/debugger.js" data-src="/breakpoints.json" data-theme="light")
