@import 'functions'

// @type Hash
Breakpoints = {
  SMALL: 'screen and (min-width: %s)' % px_to_rem(480)
  MEDIUM: 'screen and (min-width: %s)' % px_to_rem(720)
  LARGE: 'screen and (min-width: %s)' % px_to_rem(960)
}

// @type Hash
Colors = {
  DARK_GREY: #222
  LIGHT_GREY: #ddd
  OFF_WHITE: #fafafa
}

// @type Hash
FontSizes = {
  Base: {
    CAPTION: px_to_em(13)
    HEADING: px_to_em(16)
    H1: px_to_em(24)
    H2: px_to_em(18)
    H3: px_to_em(14)
  }
  Medium: {
    CAPTION: px_to_em(15)
    HEADING: px_to_em(20)
    H1: px_to_em(36)
    H2: px_to_em(24)
    H3: px_to_em(18)
  }
}

// @type Hash
Layout = {
  ControlsHeights: {
    BASE: px_to_rem(44)
    MEDIUM: px_to_rem(60)
  }
  HeaderHeights: {
    BASE: px_to_rem(44)
    MEDIUM: px_to_rem(60)
  }
  IconSizes: {
    BACK_ARROW: px_to_rem(6)
    CONTROLS: px_to_rem(32)
    Theme: {
      BASE: px_to_rem(16)
      MEDIUM: px_to_rem(24)
    }
  }
  ImageGaps: {
    BASE: px_to_rem(16)
    MEDIUM: px_to_rem(24)
  }
  LinkHeights: {
    COVER: px_to_rem(40)
    PUBLICATION: px_to_rem(32)
  }
  MaxWidths: {
    CAPTION: px_to_rem(400)
    SLIDE: px_to_rem(960)
  }
  SlideshowGaps: {
    BASE: px_to_rem(16)
    MEDIUM: px_to_rem(32) // Same as COLUMN_GAP
  }
  ThumbGaps: {
    BASE: px_to_rem(4)
    SMALL: px_to_rem(6)
    MEDIUM: px_to_rem(8)
  }
}

// @type Hash
Transitions = {
  DEFAULT: .3s
  IMAGE: .5s
  SLIDE: .2s
  SLIDE_LARGE: .3s
  THUMB: .2s
}

// @type String
COLUMN_GAP = px_to_rem(32)

// @type String
SIDEBAR_WIDTH = px_to_rem(256)

// @type String
CONTENT_MAX_WIDTH = SIDEBAR_WIDTH + COLUMN_GAP + Layout.MaxWidths.SLIDE
