@import 'functions'

// @type Hash
Breakpoint = {
  SMALL: 'screen and (min-width: %s)' % px_to_rem(480)
  MEDIUM: 'screen and (min-width: %s)' % px_to_rem(720)
  LARGE: 'screen and (min-width: %s)' % px_to_rem(960)
}

// @type Hash
Color = {
  DARK_GREY: #222
  LIGHT_GREY: #ddd
  OFF_WHITE: #fafafa
}

// @type Hash
Layout = {
  ImageGap: {
    BASE: px_to_rem(16)
    MEDIUM: px_to_rem(24)
  }
  MaxWidth: {
    CAPTION: px_to_rem(400)
    SLIDE: px_to_rem(960)
  }
}

// @type Hash
Transition = {
  DEFAULT: .3s
  IMAGE: .5s
  SLIDE: .2s
  SLIDE_LARGE: .3s
  THUMB: .2s
}

// @type String
LINK_HEIGHT_COVER = px_to_rem(40)

// @type String
LINK_HEIGHT_PUBLICATION = px_to_rem(32)

// @type String
COLUMN_GAP = px_to_rem(32)

// @type String
SIDEBAR_WIDTH = px_to_rem(256)

// @type String
THUMB_GAP_MEDIUM = px_to_rem(8)

// @type String
CONTENT_MAX_WIDTH = SIDEBAR_WIDTH + COLUMN_GAP + Layout.MaxWidth.SLIDE
