.controls
  bottom 0
  grid-row 3
  left 0
  padding 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
  position fixed
  width 100vw
  z-index z-index-controls

.controls__frame
  margin 0 auto
  max-width content-max-width

.controls__content
  align-items center
  display flex
  height controls-height

  @media breakpoint.large
    margin 0 0 0 column-gap
    width sidebar-width

.prev-next__link
  align-items center
  display inline-flex
  flex 1
  justify-content center
  overflow hidden
  padding 0 rem(8)

  @media breakpoint.medium
    padding 0 rem(12)

  @media breakpoint.large
    padding 0

@media breakpoint.large
  .prev-next__link--prev
    margin-left rem(-8)

  .prev-next__link--next
    margin-right rem(-8)

.icon--prev-next
  height auto
  width rem(28)
  transition transform transition

.icon--prev-next path
  fill none
  stroke currentColor
  stroke-width 2.5
  transition all transition

.prev-next__link:active .icon--prev-next
  transform scale(.8)

.prev-next__link--prev .icon--prev-next
  margin-right auto

.prev-next__link--next .icon--prev-next
  margin-left auto
