.counter__link
  webfont('heading', 500)
  align-items center
  display inline-flex
  font-size var(--caption-font-size)
  justify-content center
  overflow hidden
  padding 0 rem(16)
  transition transform var(--transition)
  white-space nowrap

.counter__link:active
  transform scale(.8)
