.counter__link
  capsule-button()
  link(var(--text-1-color), var(--text-1-color), var(--background-0), var(--text-1-color))
  link-background(var(--background-1), var(--background-1), var(--text-1-color), var(--background-1))
  font-size em(14)
  transition transform transition

.counter__link:active
  transform scale(.9)

[no-touch] .counter__link
  transition background transition, color transition, transform transition
