.cover
  display grid
  grid-row 1 / span 2
  place-content center

// Hide the spinner since it collides with the overlay text.
.cover .preload-spinner
  display none

.image--cover
  bottom 0
  filter var(--cover-filter)
  left 0
  position absolute
  right 0
  top 0
  z-index z-index-cover-image

.image__frame--cover
  height 100%
  width 100%

.img--cover
  height 100%
  object-fit cover

.cover__header
  padding 1rem
  text-align center

.cover__heading
  webfont('heading', 500)
  font-size var(--h1-font-size)
  margin 0 0 .25em
  padding 0

.cover__summary
  font-size var(--h3-font-size)
  margin 0
  padding 0

.cover__link
  capsule-button()
  link(var(--background-0), var(--background-0), var(--text-1-color), var(--background-0),)
  link-background(var(--text-1-color), var(--text-1-color), transparent, var(--text-1-color))
  border 2px solid var(--text-1-color)
  margin rem(16) 0 0
  padding-right rem(12)
  transition transform transition

  @media breakpoint.medium
    margin rem(24) 0 0

.cover__link:active
  transform scale(.9)

[no-touch] .cover__link
  transition background transition, color transition, transform transition

.header__link__label
  transition color transition
  
.cover__link__icon
  height rem(24)
  width rem(24)

.cover__link__icon > polyline
  fill none
  stroke currentColor
  stroke-width 2.5
