.header
  align-items center
  background var(--header-background)
  display flex
  grid-row 1
  left 0
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position fixed
  width 100vw
  z-index z-index-header

  @supports (backdrop-filter backdrop-effect)
    backdrop-filter backdrop-effect
    background var(--header-backdrop-background)

// No background on 'cover' view header since the full-screen image has
// an overlay.
.header--cover
  backdrop-filter none
  background 0

@media breakpoint.large
  .header
    backdrop-filter none

  .header--thumbs
    backdrop-filter backdrop-effect

.header__content
  display flex
  margin 0 auto
  max-width content-max-width
  width 100%

.header__link
  webfont('heading', 500)
  align-items center
  display inline-flex
  font-size var(--header-font-size)
  height var(--header-height)
  padding 0 rem(16)
  transform-origin 0 50%
  transition transform var(--transition)

  @media breakpoint.small
    width auto

  @media breakpoint.medium
    max-width 100vw
    padding 0 column-gap

.header__link:active
  transform scale(.9)

.header__link--home.current
  pointer-events none

.header__link__label
  font-size 1em
  margin 0
  overflow hidden
  text-overflow ellipsis
  transition color var(--transition)
  white-space nowrap

.header__link__icon
  height rem(24)
  margin 0 0 -1px
  width rem(24)
  transition all var(--transition)

.header__link__icon > path
  fill none
  stroke currentColor
  stroke-width 2
