.publication
  padding 0 rem(16)

  @media breakpoint.medium
    align-items center
    display flex
    margin 0 rem(32)
    padding 0
  
  @media breakpoint.large
    margin 0

.publication__image
  margin 0
  width 50%

  @media breakpoint.medium
    flex 0 0 33.33%
    width auto
  
  @media breakpoint.medium
    margin 0

.publication__details
  padding 1rem 0 0

  @media breakpoint.medium
    padding 2rem

.publication__title
  webfont('heading', 500)
  font-size var(--h2-font-size)
  margin 0 0 rem(4)

.publication__publisher
  font-size var(--h3-font-size)
  margin 0 0 rem(6)

.publication__date
  font-size var(--caption-font-size)
  margin 0

.publication__link
  link(var(--background-0), var(--background-0), var(--link-color), var(--link-color))
  link-background(var(--link-color), var(--link-color), var(--background-1), var(--background-1))
  webfont('heading', 600)
  align-items center
  border 2px solid var(--link-color)
  border-radius (link-height-publication / 2)
  display inline-flex
  font-size em(14)
  height link-height-publication
  margin rem(16) 0 0
  padding 0 rem(16)

[no-touch] .publication__link
  transition background var(--transition), color var(--transition)

[href$=pdf]::after
  bottom -.1em
  content '[PDF]'
  font-size 75%
  margin-left .5rem
  position relative
