.slide
  grid-row 2
  height 100%
  margin 0 auto
  max-height 100vh
  max-width content-max-width
  width 100vw

  @media breakpoint.large
    display grid
    grid-column-gap column-gap
    grid-row 1 / span 3
    grid-template-areas:
      '. header media .'\
      '. copy media .'\
      '. controls media .'
    grid-template-columns '0 %s 1fr 0' % sidebar-width
    grid-template-rows var(--header-height) 1fr controls-height
    width 100%

.slide__media
  @media breakpoint.large
    align-self center
    grid-area media
    max-height 100%
    overflow hidden

.slide__media--multiple
  @media breakpoint.medium
    margin 0 rem(24)

  @media breakpoint.large
    margin 0

.slide__copy
  font-size var(--caption-font-size)
  grid-area copy
  margin 0 auto
  max-width caption-max-width
  padding var(--copy-padding)
  width 100%

  @media breakpoint.large
    align-self center
    margin 0
    max-height 100%
    overflow auto
    
