.slide
  display flex
  flex-direction column
  grid-row 2
  height 100%
  margin 0 auto
  max-height 100vh
  max-width content-max-width
  padding-bottom env(safe-area-inset-bottom)
  width 100vw

  @media breakpoint.large
    display grid
    grid-column-gap column-gap
    grid-row 1 / span 3
    grid-template-columns '0 %s 1fr 0' % sidebar-width
    grid-template-rows var(--header-height) 1fr controls-height
    width 100%

.slide__media
  @media breakpoint.large
    align-self center
    grid-column 3
    grid-row 1 / span 3
    max-height 100%
    overflow hidden

.slide__media--multiple
  @media breakpoint.medium
    margin 0 rem(24)

  @media breakpoint.large
    margin 0

.slide__copy
  box-sizing border-box
  display flex
  flex 1
  flex-direction column
  font-size var(--caption-font-size)
  grid-template-rows 1fr auto
  margin 0 auto
  max-width caption-max-width
  padding rem(16)
  width 100%

  @media breakpoint.medium
    padding rem(48) 0 rem(16)

  @media breakpoint.large
    grid-column 2
    grid-row 2
    margin 0
    max-height 100%
    overflow auto
    padding 0 0 rem(16)

.slide__copy__caption
  flex 1
  padding-bottom rem(16)

  @media breakpoint.large
    flex 0
    margin auto 0
