:root
  // Colors.
  --background grey-dark
  --button-background rgba(white, .1)
  --cover-background rgba(grey-dark, .8)
  --image-background rgba(black, .2)
  --link white
  --link-active rgba(white, .7)
  --overlay-background rgba(grey-dark, .5)
  --progress-bar white
  --text white
  --text-alpha rgba(white, .7)

  // Typography.
  --caption em(13)
  --fineprint em(12)
  --heading-1 em(24)
  --heading-2 em(18)
  --heading-3 em(14)
  --site-header em(16)

  // Layout.
  --header-height rem(48)
  --slideshow-gap rem(16)
  --thumb-columns 4
  --thumb-gap rem(4)

  // Transitions.
  --transition .3s
  --transition-view .2s

  @media breakpoint.small
    // Layout.
    --thumb-columns 5
    --thumb-gap rem(6)

  @media breakpoint.medium
    // Typography.
    --caption em(15)
    --fineprint em(14)
    --heading-1 em(36)
    --heading-2 em(24)
    --heading-3 em(18)
    --site-header em(20)

    // Layout.
    --header-height rem(60)
    --slideshow-gap rem(32)
    --thumb-columns 6
    --thumb-gap thumb-gap-medium
    
  @media breakpoint.large
    --thumb-columns 7
    --transition-view .3s
