:root
  // Layout.
  --header-height rem(48)
  --slideshow-gap rem(16)
  --thumb-columns 4
  --thumb-gap rem(4)

  // Typography.
  --caption-font-size em(13)
  --footer-font-size em(12)
  --h1-font-size em(24)
  --h2-font-size em(18)
  --h3-font-size em(14)
  --header-font-size em(16)

  // Transitions.
  --transition .3s
  --transition-view .2s

  // Colors.
  --background grey-dark
  --button-background rgba(white, .1)
  --cover-background rgba(grey-dark, .8)
  --image-background rgba(black, .2)
  --link white
  --link-active rgba(white, .7)
  --overlay-background rgba(grey-dark, .5)
  --progress-bar white
  --text white
  --text-alpha rgba(white, .7)

  @media breakpoint.small
    --thumb-columns 5
    --thumb-gap rem(6)

  @media breakpoint.medium
    // Typography.
    --caption-font-size em(15)
    --footer-font-size em(14)
    --h1-font-size em(36)
    --h2-font-size em(24)
    --h3-font-size em(18)
    --header-font-size em(20)

    // Layout.
    --header-height rem(60)
    --slideshow-gap rem(32)
    --thumb-columns 6
    --thumb-gap thumb-gap-medium
    
  @media breakpoint.large
    --thumb-columns 7
    --transition-view .3s
