:root
  // Layout.
  --header-height rem(48)
  --slideshow-gap rem(16)
  --thumb-columns 4
  --thumb-gap rem(4)

  // Typography.
  --caption-font-size em(13)
  --footer-font-size em(12)
  --h1-font-size em(24)
  --h2-font-size em(18)
  --h3-font-size em(14)
  --header-font-size em(16)

  // Transitions.
  --transition .3s
  --transition-view .2s

  // Default light mode colors.
  --background-0 background-0
  --background-1 background-1
  --text-1-color text-1-color
  --text-2-color text-2-color

  // TODO: Refactor --foo-background vars for light/dark mode.
  // --image-background rgba(black, .2)

  // Dark mode colors.
  @media (prefers-color-scheme dark)
    --background-0 background-0-dark
    --background-1 background-1-dark
    --text-1-color text-1-color-dark
    --text-2-color text-2-color-dark

    // TODO: Refactor --foo-background vars for light/dark mode.
    // --image-background rgba(black, .2)

  @media breakpoint.small
    --thumb-columns 5
    --thumb-gap rem(6)

  @media breakpoint.medium
    // Typography.
    --caption-font-size em(15)
    --footer-font-size em(14)
    --h1-font-size em(36)
    --h2-font-size em(24)
    --h3-font-size em(18)
    --header-font-size em(20)

    // Layout.
    --header-height rem(60)
    --slideshow-gap rem(32)
    --thumb-columns 6
    --thumb-gap thumb-gap-medium
    
  @media breakpoint.large
    --thumb-columns 7
    --transition-view .3s
