@import './config/constants'
@import './config/functions'
@import './config/mixins'

// NOTE:  'html' and 'animations' should be imported before everything else.
@import './slides/html'
@import './slides/animations'
@import './slides/app'
@import './slides/controls'
@import './slides/counter'
@import './slides/cover'
@import './slides/error-404'
@import './slides/footer'
@import './slides/header'
@import './slides/image'
@import './slides/images'
@import './slides/preloader'
@import './slides/publication'
@import './slides/slide'
@import './slides/slideshows'
@import './slides/text'
@import './slides/theme'
@import './slides/thumb'
@import './slides/thumbs'
