:root
  --caption px_to_em(13)
  --fineprint px_to_em(12)
  --heading px_to_em(16)
  --h1 px_to_em(24)
  --h2 px_to_em(18)
  --h3 px_to_em(14)

  @media Breakpoint.MEDIUM
    --caption px_to_em(15)
    --fineprint px_to_em(14)
    --heading px_to_em(20)
    --h1 px_to_em(36)
    --h2 px_to_em(24)
    --h3 px_to_em(18)
