:root
  --caption px_to_em(13)
  --fineprint px_to_em(12)
  --heading px_to_em(16)
  --h1 px_to_em(24)
  --h2 px_to_em(18)
  --h3 px_to_em(14)

  --controls-height px_to_rem(44)
  --header-height px_to_rem(44)
  --slideshow-gap px_to_rem(16)
  --thumb-gap px_to_rem(4)
  --thumb-columns 4

  --transition .3s
  --transition-view .2s

  @media Breakpoint.SMALL
    --thumb-gap px_to_rem(6)
    --thumb-columns 5

  @media Breakpoint.MEDIUM
    --caption px_to_em(15)
    --fineprint px_to_em(14)
    --heading px_to_em(20)
    --h1 px_to_em(36)
    --h2 px_to_em(24)
    --h3 px_to_em(18)

    --controls-height px_to_rem(60)
    --header-height px_to_rem(60)
    --slideshow-gap px_to_rem(32)
    --thumb-gap THUMB_GAP_MEDIUM
    --thumb-columns 6

  @media Breakpoint.LARGE
    --thumb-columns 7
    --transition-view .3s

  // TODO: Refactor/simplify theming. Color values are very repetitive,
  // and rgba could potentially be replaced with opacity on the element.
  [data-theme=dark]
    --app-background DARK_GREY
    --button-active DARK_GREY
    --cover-link DARK_GREY

    --app-text white
    --button-link white
    --button-background-active white
    --controls-link white
    --cover-active white
    --cover-link-background white
    --footer-link white
    --header-link white
    --header-active white
    --link-base white
    
    --button-background rgba(white, .1)
    --controls-border rgba(white, .2)

    --controls-background rgba(DARK_GREY, .9)
    --header-background rgba(DARK_GREY, .9)

    --cover-background rgba(DARK_GREY, .8)
    
    --controls-hover rgba(white, .7)
    --footer-text rgba(white, .7)
    --header-hover rgba(white, .7)
    --link-active rgba(white, .7)

  [data-theme=light]    
    --app-background OFF_WHITE

    --app-text DARK_GREY
    --button-link DARK_GREY
    --button-background-active DARK_GREY
    --controls-link DARK_GREY
    --cover-active DARK_GREY
    --cover-link-background DARK_GREY
    --footer-link DARK_GREY
    --header-link DARK_GREY
    --header-active DARK_GREY
    --link-base DARK_GREY

    --button-active white
    --cover-link white

    --button-background rgba(DARK_GREY, .1)
    --controls-border rgba(DARK_GREY, .3)

    --controls-background rgba(OFF_WHITE, .85)
    --header-background rgba(OFF_WHITE, .95)

    --cover-background rgba(white, .8)
    
    --controls-hover rgba(DARK_GREY, .7)
    --footer-text rgba(DARK_GREY, .7)
    --header-hover rgba(DARK_GREY, .7)
    --link-active rgba(DARK_GREY, .7)
