.controls
  background var(--overlay-background)
  border-top .5px solid var(--overlay-border)
  bottom 0
  grid-row 3
  height var(--controls-height)
  left 0
  position fixed
  width 100vw
  z-index 1

  @media Breakpoint.LARGE
    background 0
    border 0

.controls__frame
  margin 0 auto
  max-width CONTENT_MAX_WIDTH

.controls__content
  align-items center
  display flex
  justify-content space-between

  @media Breakpoint.LARGE
    margin 0 0 0 COLUMN_GAP
    width SIDEBAR_WIDTH

.prev-next__link
  align-items center
  display inline-flex
  flex 1
  height var(--controls-height)
  justify-content center
  overflow hidden

.prev-next--prev
.prev-next--next
  padding 0 px_to_rem(8)

  @media Breakpoint.MEDIUM
    padding 0 px_to_rem(12)

  @media Breakpoint.LARGE
    padding 0

@media Breakpoint.LARGE
  .prev-next--prev
    margin-left px_to_rem(-8)

  .prev-next--next
    margin-right px_to_rem(-8)

.arrow-icon
  height auto
  width px_to_rem(28)
  transition transform var(--transition)

.prev-next__link:active .arrow-icon
  transform scale(.8)

.prev-next--prev .arrow-icon
  margin-right auto

.prev-next--next .arrow-icon
  margin-left auto

.arrow-icon__path
  fill none
  stroke-width 4
  transition stroke var(--transition)

.prev-next__link:link .arrow-icon__path
.prev-next__link:visited .arrow-icon__path
  stroke var(--link)

[no-touch] .prev-next__link:hover .arrow-icon__path
  stroke var(--link-active)
