.counter__link
  align-items center
  display inline-flex
  font-size var(--caption)
  heading_font()
  height var(--controls-height)
  justify-content center
  overflow hidden
  padding 0 px_to_rem(16)
  transition transform var(--transition)
  white-space nowrap

.counter__link:active
  transform scale(.8)
