.cover
  grid-row 1 / span 3

.cover
.cover__frame
  align-items center
  display flex
  justify-content center
  width 100%

.cover__frame
  height 100%

.cover__header
  padding 1rem
  text-align center

.cover__heading
  font-size '%s' % FontSize.Base.H1
  heading_font()
  margin 0 0 .25em
  padding 0

  @media Breakpoint.MEDIUM
    font-size '%s' % FontSize.Medium.H1

.cover__summary
  font-size '%s' % FontSize.Base.H3
  margin 0
  padding 0

  @media Breakpoint.MEDIUM
    font-size '%s' % FontSize.Medium.H3

.cover__link
  align-items center
  border-radius '%s' % (Layout.LinkHeight.COVER / 2)
  border-style solid 
  border-width 2px
  display inline-flex
  heading_font(600)
  height '%s' % Layout.LinkHeight.COVER
  margin px_to_rem(16) 0 0
  padding 0 px_to_rem(24)

  @media Breakpoint.MEDIUM
    margin px_to_rem(24) 0 0

[no-touch] .cover__link
  transition 'background %s, color %s, transform %s' % (Transition.DEFAULT Transition.DEFAULT Transition.DEFAULT)

[no-touch] .cover__link:active
  transform scale(.9)
