.footer
  align-items center
  bottom 0
  display flex
  height '%s' % Layout.ControlsHeight.BASE
  justify-content center
  left 0
  position fixed
  right 0
  text-align center
  z-index 1

  @media Breakpoint.MEDIUM
    height '%s' % Layout.ControlsHeight.MEDIUM

.controls ~ .footer
  display none

.thumbs ~ .footer
  grid-row 3
  position relative

.copyright
  font-size var(--fineprint)
  heading_font()
  margin 0

.copyright__bug
  margin-right .5em

.copyright__link
  font_weight(600)
  transition color '%s' % Transition.DEFAULT
