.footer
  align-items center
  display flex
  grid-row 3
  height '%s' % Layout.ControlsHeight.BASE
  justify-content center
  text-align center

  @media Breakpoint.MEDIUM
    height '%s' % Layout.ControlsHeight.MEDIUM

// Make footer fixed on 'cover' view.
.cover + .footer
  bottom 0
  left 0
  position fixed
  right 0
  z-index 1

// Hide footer on views with controls.
.controls + .footer
  display none

.copyright
  font-size '%s' % FontSize.Base.FINEPRINT
  heading_font()
  margin 0

  @media Breakpoint.MEDIUM
    font-size '%s' % FontSize.Medium.FINEPRINT

.copyright__bug
  margin-right .5em

.copyright__link
  font_weight(600)
  transition color '%s' % Transition.DEFAULT
