font_face()

body
  background var(--app-background)
  body_font()
  color var(--app-text)
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

*
  box-sizing border-box

figure
  margin 0
  padding 0

img
svg
  height auto
  vertical-align middle
  width 100%

// TODO: currentColor for SVG

p
  line-height 1.5
  margin 0 0 1em

a
  text-decoration none

a
button
input
  &:focus
    outline 0

[v-cloak]
  visibility hidden

.no-js
  align-items center
  display flex
  height 100%
  padding 1rem

.no-js__message
  background white
  border 1px solid LIGHT_GREY
  border-radius 4px
  margin 0 auto
  padding 1rem
  text-align center

  @media Breakpoint.MEDIUM
    max-width 30rem
    padding 2rem
