.image--portrait
  width 50%
  margin 0 auto

.image__frame
  overflow hidden
  position relative

.image__placeholder
.image__hi-res
  position absolute

.image__placeholder
  filter blur(5px)
  z-index -1

.image__hi-res
  opacity 0
  transition opacity .5s

.image__hi-res[ready]
  opacity 1

.image--multiple
  padding IMAGE_GAP_BASE 0 0

  @media Breakpoint.MEDIUM
    flex 0 0 50%
    padding IMAGE_GAP_MEDIUM 0 0 IMAGE_GAP_MEDIUM
