.slide
  grid-row 2
  height 100%
  margin 0 auto
  max-width CONTENT_MAX_WIDTH
  width 100vw

  @media Breakpoint.MEDIUM
    align-self center

  @media Breakpoint.LARGE
    display grid
    grid-column-gap COLUMN_GAP
    grid-row 1 / span 3
    grid-template-columns '0 %s 1fr 0' % SIDEBAR_WIDTH
    grid-template-rows 1fr
    width 100%

.slide__media
  @media Breakpoint.MEDIUM
    grid-row 2

  @media Breakpoint.LARGE
    align-self center
    grid-column 3
    grid-row 1
    max-height 100%
    overflow hidden

.slide__media--multiple
  @media Breakpoint.MEDIUM
    margin 0 px_to_rem(24)

  @media Breakpoint.LARGE
    margin 0

.slide__caption
  box-sizing border-box
  font-size var(--caption)
  margin 0 auto
  padding px_to_rem(16) px_to_rem(16) 0

  @media Breakpoint.MEDIUM
    grid-row 3
    max-width '%s' % Layout.MaxWidth.CAPTION
    padding px_to_rem(32) 0

  @media Breakpoint.LARGE
    align-self center
    grid-column 2
    grid-row 1
    margin 0
    overflow auto
    padding 0
