.slideshows
  grid-row 2
  width 100%

  @media Breakpoint.MEDIUM
    margin 0 auto
    max-width CONTENT_MAX_WIDTH

.slideshows__group
  margin 0 var(--slideshow-gap)

  @media Breakpoint.MEDIUM
    display grid
    grid-gap var(--slideshow-gap)
    grid-template-columns repeat(2, 1fr)

.slideshow:not(:last-child)
  margin 0 0 var(--slideshow-gap)

  @media Breakpoint.MEDIUM
    margin 0

.slideshow__link
  display block
  link(var(--link-base), var(--link-base), var(--link-active), var(--link-active))
  transition color var(--transition)

.slideshow__heading
  font-size var(--h3)
  heading_font()
  margin px_to_em(12) 0
  padding 0
