.theme
  align-items center
  appearance none
  background 0
  border 0
  display inline-flex
  height '%s' % Layout.HeaderHeight.BASE
  justify-content center
  overflow hidden
  outline none
  position fixed
  right 0
  top 0
  transition 'transform %s' % Transition.DEFAULT
  width '%s' % Layout.HeaderHeight.BASE

  @media Breakpoint.MEDIUM
    height '%s' % Layout.HeaderHeight.MEDIUM
    width '%s' % Layout.HeaderHeight.MEDIUM

[no-touch] .theme
  transition 'opacity %s, transform %s' % (Transition.DEFAULT Transition.DEFAULT)

[no-touch] .theme:hover
  opacity .7

.theme:hover
  cursor pointer

.theme:active
  transform scale(.8)

.theme-icon
  width '%s' % Layout.IconSize.THEME

// @type Hash
Themes = {
  dark: {
    App: {
      BACKGROUND: '%s' % Color.DARK_GREY
      TEXT: white
    }
    Button: {
      LINK: white
      ACTIVE: '%s' % Color.DARK_GREY
      BACKGROUND: rgba(white, .1)
      BACKGROUND_ACTIVE: white
    }
    Controls: {
      BACKGROUND: '%s' % rgba(Color.DARK_GREY, .9)
      BORDER: rgba(white, .2)
      LINK: white
      HOVER: '%s' % rgba(white, .7)
    }
    Cover: {
      BACKGROUND: '%s' % rgba(Color.DARK_GREY, .8)
      LINK: '%s' % Color.DARK_GREY
      ACTIVE: white
      LINK_BACKGROUND: white
      LINK_BACKGROUND_ACTIVE: transparent
    }
    Header: {
      BACKGROUND: '%s' % rgba(Color.DARK_GREY, .9)
      LINK: white
      HOVER: rgba(white, .7)
      ACTIVE: white
    }
    Footer: {
      TEXT: rgba(white, .7)
      LINK: white
    }
    Link: {
      BASE: white
      ACTIVE: rgba(white, .7)
    }
  }
  light: {
    App: {
      BACKGROUND: '%s' % Color.OFF_WHITE
      TEXT: '%s' % Color.DARK_GREY
    }
    Button: {
      LINK: '%s' % Color.DARK_GREY
      ACTIVE: white
      BACKGROUND: '%s' % rgba(Color.DARK_GREY, .1)
      BACKGROUND_ACTIVE: '%s' % Color.DARK_GREY
    } 
    Controls: {
      BACKGROUND: '%s' % rgba(Color.OFF_WHITE, .85)
      BORDER: '%s' % rgba(Color.DARK_GREY, .3)
      LINK: '%s' % Color.DARK_GREY
      HOVER: '%s' % rgba(Color.DARK_GREY, .7)
    }
    Cover: {
      BACKGROUND: rgba(white, .8)
      LINK: white
      ACTIVE: '%s' % Color.DARK_GREY
      LINK_BACKGROUND: '%s' % Color.DARK_GREY
      LINK_BACKGROUND_ACTIVE: transparent
    }
    Footer: {
      TEXT: '%s' % rgba(Color.DARK_GREY, .7)
      LINK: '%s' % Color.DARK_GREY
    }
    Header: {
      BACKGROUND: '%s' % rgba(Color.OFF_WHITE, .95)
      LINK: '%s' % Color.DARK_GREY
      HOVER: '%s' % rgba(Color.DARK_GREY, .7)
      ACTIVE: '%s' % Color.DARK_GREY
    }
    Link: {
      BASE: '%s' % Color.DARK_GREY
      ACTIVE: '%s' % rgba(Color.DARK_GREY, .7)
    }
  }
}

for name, theme in Themes
  body[data-theme={name}]
    background '%s' % theme.App.BACKGROUND
    color '%s' % theme.App.TEXT

  [data-theme={name}]
    // prev-next navigation
    .controls
      background '%s' % theme.Controls.BACKGROUND
      border-top .5px solid '%s' % theme.Controls.BORDER

      @media Breakpoint.LARGE
        background 0
        border 0

    // header and header navigation
    .header
      background '%s' % theme.Header.BACKGROUND

      @media Breakpoint.LARGE
        background 0

    .header--cover
      background 0

    .header--thumbs
      @media Breakpoint.LARGE
        background '%s' % theme.Header.BACKGROUND

    .header__link
      link(theme.Header.LINK, theme.Header.LINK, theme.Header.HOVER, theme.Header.ACTIVE)

    .header__link--home.current
    .header__link--home.current:hover
      color '%s' % theme.Header.LINK

    .header__link--back:link .header__link__label::before
    .header__link--back:visited .header__link__label::before
      border-right-color '%s' % theme.Header.LINK

    .header__link--back:active .header__link__label::before
    [no-touch] .header__link--back:hover .header__link__label::before
      border-right-color '%s' % theme.Header.ACTIVE

    // contrast toggle icon
    .theme-icon__circle
    .theme-icon__path
      fill '%s' % theme.App.TEXT
      stroke '%s' % theme.App.TEXT

    // slideshow cover
    .cover__frame
      background-color '%s' % theme.Cover.BACKGROUND

    .footer
      color '%s' % theme.Footer.TEXT

    // links
    .copyright__link
      link(theme.Footer.TEXT, theme.Footer.TEXT, theme.Footer.LINK, theme.Footer.LINK)

    .slideshow__link
    .counter__link
      link(theme.Link.BASE, theme.Link.BASE, theme.Link.ACTIVE, theme.Link.ACTIVE)

    .cover__link
      border-color '%s' % theme.Cover.ACTIVE
      link(theme.Cover.LINK, theme.Cover.LINK, theme.Cover.ACTIVE, theme.Cover.ACTIVE)
      link_background(theme.Cover.LINK_BACKGROUND, theme.Cover.LINK_BACKGROUND, theme.Cover.LINK_BACKGROUND_ACTIVE, theme.Cover.LINK_BACKGROUND_ACTIVE)

    .prev-next__link:link .arrow-icon__path
    .prev-next__link:visited .arrow-icon__path
      stroke '%s' % theme.Controls.LINK

    &[no-touch] .prev-next__link:hover .arrow-icon__path
      stroke '%s' % theme.Controls.HOVER

    .publication__link
      link(theme.Button.LINK, theme.Button.LINK, theme.Button.ACTIVE, theme.Button.ACTIVE)
      link_background(theme.Button.BACKGROUND, theme.Button.BACKGROUND, theme.Button.BACKGROUND_ACTIVE, theme.Button.BACKGROUND_ACTIVE)
