.thumb__link
  display block
  shadow(0)
  transition 'box-shadow %s, transform %s' % (Transition.THUMB Transition.THUMB)

[no-touch] .thumb__link:hover
  shadow(2)
  transform scale(1.05)

.thumb__link:active
[no-touch] .thumb__link:hover:active
  transform scale(.9)
