.thumb__link
  display block
  shadow(0)
  transition box-shadow var(--transition), transform var(--transition)

[no-touch] .thumb__link:hover
  shadow(2)
  transform scale(1.05)

.thumb__link:active
[no-touch] .thumb__link:hover:active
  transform scale(.9)
