.app
  display grid
  grid-template-columns 1fr
  grid-template-rows var(--header-height) 1fr CONTROLS_HEIGHT
  min-height 100vh // fallback
  min-height calc(var(--vh, 1vh) * 100)

.first-run
  animation-name fadeIn

.slide-in-left
  animation-name slideInLeft

.slide-in-right
  animation-name slideInRight

.slide-out-left
  animation-name slideOutLeft

.slide-out-right
  animation-name slideOutRight

.first-run
.slide-in-left
.slide-in-right
.slide-out-left
.slide-out-right
  animation-duration var(--transition-view)
  animation-timing-function ANIMATION_TIMING
