.controls
  background var(--overlay-background)
  border-top .5px solid var(--overlay-border)
  bottom 0
  grid-row 3
  left 0
  padding 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
  position fixed
  width 100vw
  z-index '%s' % Stacking.App.CONTROLS

  @media Breakpoint.LARGE
    background 0
    border 0

.controls__frame
  margin 0 auto
  max-width CONTENT_MAX_WIDTH

.controls__content
  align-items stretch
  display flex
  justify-content space-between
  height CONTROLS_HEIGHT

  @media Breakpoint.LARGE
    margin 0 0 0 COLUMN_GAP
    width SIDEBAR_WIDTH

.prev-next__link
  align-items center
  display inline-flex
  flex 1
  justify-content center
  overflow hidden
  padding 0 px_to_rem(8)

  @media Breakpoint.MEDIUM
    padding 0 px_to_rem(12)

  @media Breakpoint.LARGE
    padding 0

@media Breakpoint.LARGE
  .prev-next__link--prev
    margin-left px_to_rem(-8)

  .prev-next__link--next
    margin-right px_to_rem(-8)

.icon--prev-next
  height auto
  width px_to_rem(28)
  transition transform var(--transition)

.prev-next__link:active .icon--prev-next
  transform scale(.8)

.prev-next__link--prev .icon--prev-next
  margin-right auto

.prev-next__link--next .icon--prev-next
  margin-left auto
