.copyright
  color var(--text-alpha)
  font-size var(--fineprint)
  margin 0

.copyright__years
  margin-right px_to_em(8)

.copyright__owner
  link(var(--text-alpha), var(--text-alpha), var(--text), var(--text))
  transition color var(--transition)
