.cover
  grid-column 1
  grid-row 1 / span 3

// Hide the spinner since it collides with the overlay text.
.cover .preload-spinner
  display none

.cover
  align-items center
  display flex
  justify-content center

.image--cover
.image--cover::after
  bottom 0
  left 0
  position absolute
  right 0
  top 0

.image--cover
  z-index -1

.image--cover::after
  content ''
  display block
  background-color var(--cover-background)
  z-index 2

.image--cover figure 
  height 100%
  width 100%

.image--cover img
  height 100%
  object-fit cover

.cover__header
  padding 1rem
  text-align center

.cover__heading
  webfont('heading', 500)
  font-size var(--heading-1)
  margin 0 0 .25em
  padding 0

.cover__summary
  font-size var(--heading-3)
  margin 0
  padding 0

.cover__link
  link(var(--background), var(--background), var(--text), var(--text))
  link_background(var(--text), var(--text), transparent, transparent)
  webfont('heading', 600)
  align-items center
  border 2px solid var(--text)
  border-radius (LINK_HEIGHT_COVER / 2)
  display inline-flex
  height LINK_HEIGHT_COVER
  margin px_to_rem(16) 0 0
  padding 0 px_to_rem(24)

  @media Breakpoint.MEDIUM
    margin px_to_rem(24) 0 0

[no-touch] .cover__link
  transition background var(--transition), color var(--transition), transform var(--transition)

[no-touch] .cover__link:active
  transform scale(.9)
