.error-404
  webfont('heading')
  align-self center
  grid-row 2
  padding 2rem
  text-align center

.error-404__heading
  font-size 500%
  font-variation-settings 'wght' 500
  line-height 1
  margin 0 0 1rem
  
.error-404__message a
  font-variation-settings 'wght' 600
  transition color var(--transition)
