.error-404
  align-self center
  grid-row 2

.error-404__message
  color LIGHT_GREY
  font-size 750%
  line-height 1
  margin 0
  padding 0 2rem
  text-align center

  @media Breakpoint.MEDIUM
    font-size 1000%
