.footer
  align-items center
  color var(--text-alpha)
  display flex
  grid-column 1
  grid-row 3
  height var(--controls-height)
  justify-content center
  padding 0 0 env(safe-area-inset-bottom)
  position relative
  text-align center
  width 100vw
  z-index 1

// Hide footer on the 'slide' view.
.footer--slide
  display none

.copyright
  webfont('heading', 500)
  font-size var(--fineprint)
  margin 0

.copyright__years
  margin-right px_to_em(8)

.copyright__owner
  link(var(--text-alpha), var(--text-alpha), var(--text), var(--text))
  transition color var(--transition)
