.footer
  align-items center
  bottom 0
  color var(--text-alpha)
  display flex
  height var(--controls-height)
  justify-content center
  left 0
  position fixed
  right 0
  text-align center
  z-index 1

.controls ~ .footer
  display none

.thumbs ~ .footer
  grid-row 3
  position relative

.copyright
  webfont('heading', 500)
  font-size var(--fineprint)
  margin 0

.copyright__bug
  margin-right .5em

.copyright__link
  font-variation-settings 'wght' 600
  transition color var(--transition)
