.footer
  align-items center
  bottom 0
  color var(--text-alpha)
  display flex
  height var(--controls-height)
  justify-content center
  left 0
  padding 0 0 env(safe-area-inset-bottom)
  position fixed
  right 0
  text-align center
  z-index 1

.controls ~ .footer
  display none

.thumbs ~ .footer
  grid-row 3
  position relative

.copyright
  webfont('heading', 500)
  font-size var(--fineprint)
  margin 0

.copyright__years
  margin-right px_to_em(8)

.copyright__owner
  link(var(--text-alpha), var(--text-alpha), var(--text), var(--text))
  transition color var(--transition)
