all-webfonts()

body
  webfont()
  background var(--background)
  color var(--text)
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

*
  box-sizing border-box

figure
  margin 0
  padding 0

img
svg
  height auto
  vertical-align middle
  width 100%

svg
  pointer-events none

p
  line-height 1.5
  margin 0 0 1em

a
  link(var(--link), var(--link), var(--link-active), var(--link-active))
  text-decoration none

a
button
input
  &:focus
    outline 0

[v-cloak]
  visibility hidden

.no-js
  align-items center
  display flex
  height 100%
  padding 1rem

.no-js__message
  background white
  border 1px solid grey-light
  border-radius 4px
  margin 0 auto
  padding 1rem
  text-align center

  @media breakpoint.medium
    max-width 30rem
    padding 2rem
