.image--portrait
  width 67%
  margin 0 auto

.image__frame
  background var(--image-background)
  overflow hidden
  position relative

.image__frame[ready]
  background 0

.image__placeholder
.image__hi-res
  position absolute

.image__placeholder
  filter blur(5px)
  z-index 1

.image__hi-res
  opacity 0
  transition opacity .5s
  z-index 2

.image__frame[ready] .image__hi-res
  opacity 1

.image--multiple
  padding IMAGE_GAP_BASE 0 0

  @media Breakpoint.MEDIUM
    flex 0 0 50%
    padding IMAGE_GAP_MEDIUM 0 0 IMAGE_GAP_MEDIUM
