.image
  max-height 100vh

.image--portrait
  width 67%
  margin 0 auto

// TODO(layout): Resolve why image__frame dimensions are taller/wider than
// the image it contains. Then re-enable background styles.
.image__frame
  max-height 100vh
  overflow hidden
  position relative

// Invert the height and width values for responsive images (and add a
// max-height) so that slide images are never taller than the viewport.
.slide .image__placeholder
.slide .image__hi-res
  height 100%
  max-height 100vh
  width auto

// Use translateX and left positioning to center-justify the images in
// their container.
.image__placeholder
.image__hi-res
  left 50%
  position absolute
  transform translateX(-50%)

.image__placeholder
  filter blur(5px)
  z-index 1

.image__hi-res
  opacity 0
  transition opacity .5s
  z-index 2

.image__frame[ready] .image__hi-res
  opacity 1

.image--multiple
  padding IMAGE_GAP_BASE 0 0

  @media Breakpoint.MEDIUM
    flex 0 0 50%
    padding IMAGE_GAP_MEDIUM 0 0 IMAGE_GAP_MEDIUM
