// Apply max-height equal to viewport height so that slide images are never
// taller than the viewport.
.image
.image__frame
.img--slide
  max-height 100vh

.image--portrait
  width 67%
  margin 0 auto

.image--multiple:not(:first-child)
  margin IMAGE_GAP_BASE 0 0

  @media Breakpoint.MEDIUM
    margin 0

// TODO(#34): Resolve .image__frame canvas dimensions being taller/wider than
// the image it contains, then restore background property.
.image__frame
  // background var(--image-background)
  margin 0 auto
  overflow hidden
  position relative

.image__frame[ready]
  background 0

// Use translateX and left positioning to center-justify the images in
// their container.
// TODO(#34): Relocate transition property to hi-res only.
.img
  left 50%
  position absolute
  transform translateX(-50%)
  transition opacity .5s

// Swap height and width values for responsive images to accommodate slide
// images with portrait orientation.
.img--slide
  height 100%
  width auto

.img--placeholder
  filter blur(5px)
  opacity 1
  z-index '%s' % Stacking.Image.PLACEHOLDER

// TODO(#34): Remove 'placeholder ready' rule.
.img--placeholder[ready]
  opacity 0

.img--hi-res
  opacity 0
  z-index '%s' % Stacking.Image.HI_RES

.img--hi-res[ready]
  opacity 1
