.images
  max-height 100vh

.images--multiple
  margin 0 auto
  width 50%

  @media breakpoint.medium
    display grid
    grid-gap image-gap-medium
    grid-template-columns repeat(2, 1fr)
    width auto
