.publication
  padding 0 rem(16)

  @media Breakpoint.MEDIUM
    align-items center
    display flex
    margin 0 rem(32)
    padding 0
  
  @media Breakpoint.LARGE
    margin 0

.publication__image
  margin 0
  width 50%

  @media Breakpoint.MEDIUM
    flex 0 0 33.33%
    width auto
  
  @media Breakpoint.MEDIUM
    margin 0

.publication__details
  padding 1rem 0 0

  @media Breakpoint.MEDIUM
    padding 2rem

.publication__title
  webfont('heading', 500)
  font-size var(--heading-2)
  margin 0 0 rem(4)

.publication__publisher
  font-size var(--heading-3)
  margin 0 0 rem(6)

.publication__date
  font-size var(--caption)
  margin 0

.publication__link
  link(var(--link), var(--link), var(--background), var(--background))
  link_background(var(--button-background), var(--button-background), var(--text), var(--text))
  webfont('heading', 600)
  align-items center
  border-radius (LINK_HEIGHT_PUBLICATION / 2)
  display inline-flex
  font-size em(14)
  height LINK_HEIGHT_PUBLICATION
  margin rem(16) 0 0
  padding 0 rem(16)

[no-touch] .publication__link
  transition background var(--transition), color var(--transition)

[href$=pdf]::after
  bottom -.1em
  content '[PDF]'
  font-size 75%
  margin-left .5rem
  position relative
