.slide
  grid-row 2
  height 100%
  margin 0 auto
  max-height 100vh
  max-width CONTENT_MAX_WIDTH
  width 100vw

  @media Breakpoint.MEDIUM
    align-self center

  @media Breakpoint.LARGE
    display grid
    grid-column-gap COLUMN_GAP
    grid-row 1 / span 3
    grid-template-columns '0 %s 1fr 0' % SIDEBAR_WIDTH
    grid-template-rows var(--header-height) 1fr var(--controls-height)
    width 100%

.slide__media
  @media Breakpoint.MEDIUM
    grid-row 2

  @media Breakpoint.LARGE
    align-self center
    grid-column 3
    grid-row 1 / span 3
    max-height 100%
    overflow hidden

.slide__media--multiple
  @media Breakpoint.MEDIUM
    margin 0 px_to_rem(24)

  @media Breakpoint.LARGE
    margin 0

.slide__caption
  box-sizing border-box
  font-size var(--caption)
  margin 0 auto
  padding 1rem 1rem 0

  @media Breakpoint.MEDIUM
    grid-row 3
    max-width CAPTION_MAX_WIDTH
    padding 2rem 0 var(--controls-height)

  @media Breakpoint.LARGE
    align-self center
    grid-column 2
    grid-row 2
    margin 0
    max-height 100%
    overflow auto
    padding 0
