.slide
  display flex
  flex-direction column
  grid-row 2
  height 100%
  margin 0 auto
  max-height 100vh
  max-width CONTENT_MAX_WIDTH
  width 100vw

  @media Breakpoint.LARGE
    display grid
    grid-column-gap COLUMN_GAP
    grid-row 1 / span 3
    grid-template-columns '0 %s 1fr 0' % SIDEBAR_WIDTH
    grid-template-rows var(--header-height) 1fr CONTROLS_HEIGHT
    width 100%

.slide__media
  @media Breakpoint.LARGE
    align-self center
    grid-column 3
    grid-row 1 / span 3
    max-height 100%
    overflow hidden

.slide__media--multiple
  @media Breakpoint.MEDIUM
    margin 0 px_to_rem(24)

  @media Breakpoint.LARGE
    margin 0

.slide__copy
  box-sizing border-box
  display flex
  flex 1
  flex-direction column
  font-size var(--caption)
  grid-template-rows 1fr auto
  margin 0 auto
  max-width CAPTION_MAX_WIDTH
  padding px_to_rem(16)
  width 100%

  @media Breakpoint.MEDIUM
    padding px_to_rem(48) 0 px_to_rem(16)

  @media Breakpoint.LARGE
    grid-column 2
    grid-row 2
    margin 0
    max-height 100%
    overflow auto
    padding 0 0 px_to_rem(16)

.slide__copy__caption
  flex 1
  padding-bottom px_to_rem(16)

  @media Breakpoint.LARGE
    flex 0
    margin auto 0
