.thumb__frame
  background var(--thumb-background)

.thumb__frame[loading]
  overflow hidden
  padding 0 0 100%
  position relative

.thumb__frame[loading] .thumb__image
  position absolute
  
.thumb__image--hi-res
  opacity 1
  transition opacity var(--transition)

.thumb__image--hi-res[loading]
  opacity 0
  z-index 2

.thumb__image--placeholder
  filter blur(5px)
  z-index 1

.thumb__link
  elevation(0)
  display block
  transition box-shadow var(--transition), transform var(--transition)

[no-touch] .thumb__link:hover
  elevation(2)
  transform scale(1.05)

.thumb__link:active
[no-touch] .thumb__link:hover:active
  transform scale(.9)
