.thumb__link
  elevation(0)
  display block
  transition box-shadow var(--transition), transform var(--transition)

[no-touch] .thumb__link:hover
  elevation(2)
  transform scale(1.05)

.thumb__link:active
[no-touch] .thumb__link:hover:active
  transform scale(.9)
