.thumbs
  grid-row 2
  padding 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)
  margin 0 auto
  max-width (CONTENT_MAX_WIDTH + (THUMB_GAP_MEDIUM * 2) - (COLUMN_GAP * 2))
  width 100%

.thumbs__group
  display grid
  grid-gap var(--thumb-gap)
  grid-template-columns repeat(var(--thumb-columns), 1fr)
  margin 0 var(--thumb-gap)
  padding 0 0 var(--thumb-gap)
