@import 'functions'

// -----------------------------------------------------------------------------
// Colors.

grey-dark = #222
grey-light = #ddd

// -----------------------------------------------------------------------------
// Dimensions.

caption-max-width = rem(400)
controls-height = rem(60)
column-gap = rem(32)
image-gap-base = rem(16)
image-gap-medium = rem(24)
link-height-cover = rem(40)
link-height-publication = rem(32)
sidebar-width = rem(256)
slide-max-width = rem(960)
thumb-gap-medium = rem(8)

// -----------------------------------------------------------------------------
// Transitions and animations.

animation-timing = cubic-bezier(.1, .1, .25, .9)

// -----------------------------------------------------------------------------
// Z-stacking.

// App.
z-index-controls = 2
z-index-header = 3
z-index-progress-bar = 4

// Image.
z-index-image-placeholder = 1
z-index-image-hi-res = 2
z-index-spinner = 3

// Cover.
z-index-cover-image = -1
z-index-cover-overlay = 2

// -----------------------------------------------------------------------------
// Calculated constants.
content-max-width = sidebar-width + column-gap + slide-max-width

// -----------------------------------------------------------------------------
// Breakpoints.

breakpoint = {
  small: 'screen and (min-width: %s)' % rem(480)
  medium: 'screen and (min-width: %s)' % rem(720)
  large: 'screen and (min-width: %s)' % rem(960)
}
