@import 'functions'

// @type String
DARK_GREY = #222

// @type String
LIGHT_GREY = #ddd

// @type String
OFF_WHITE = #fafafa

// @type String
CAPTION_MAX_WIDTH = px_to_rem(400)

// @type String
COLUMN_GAP = px_to_rem(32)

// @type String
IMAGE_GAP_BASE = px_to_rem(16)

// @type String
IMAGE_GAP_MEDIUM = px_to_rem(24)

// @type String
LINK_HEIGHT_COVER = px_to_rem(40)

// @type String
LINK_HEIGHT_PUBLICATION = px_to_rem(32)

// @type String
SIDEBAR_WIDTH = px_to_rem(256)

// @type String
SLIDE_MAX_WIDTH = px_to_rem(960)

// @type String
THUMB_GAP_MEDIUM = px_to_rem(8)

// -----------------------------------------------------------------------------
// Calculated constants.

// @type String
CONTENT_MAX_WIDTH = SIDEBAR_WIDTH + COLUMN_GAP + SLIDE_MAX_WIDTH

// -----------------------------------------------------------------------------
// Breakpoints.

// @type Hash
Breakpoint = {
  SMALL: 'screen and (min-width: %s)' % px_to_rem(480)
  MEDIUM: 'screen and (min-width: %s)' % px_to_rem(720)
  LARGE: 'screen and (min-width: %s)' % px_to_rem(960)
}