// @mixin
all_webfonts()
  @font-face
    font-display block
    font-family 'Avenir Variable'
    font-weight 1 999
    src url('../webfonts/AvenirNext-Variable.woff2') format('woff2')

  @font-face
    font-display block
    font-family 'Source Sans Variable'
    src url('../webfonts/SourceSans-Variable-Roman.woff2') format('woff2')
    font-weight 1 999

// @mixin
// @param Color color
// @param Number size
// @param String direction
css_triangle(color, size, direction)
  if direction == 'up'
    border-bottom size solid color
    border-left size solid transparent
    border-right size solid transparent
  if direction == 'down'
    border-left size solid transparent
    border-right size solid transparent
    border-top size solid color
  if direction == 'right'
    border-bottom size solid transparent
    border-left size solid color
    border-top size solid transparent
  if direction == 'left'
    border-bottom size solid transparent
    border-right size solid color
    border-top size solid transparent
  content ''
  display inline-block
  height 0
  width 0

// @mixin
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link(link, visited, hover, active)
  &:link
    color link

  &:visited
    color visited

  &:active
  &:focus
    color active

  [no-touch] &
    &:hover
      color hover

// @mixin
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link_background(link, visited, hover, active)
  &:link
    background link

  &:visited
    background visited

  &:active
  &:focus
    background active

  [no-touch] &
    &:hover
      background hover

// @mixin
// @param Number level
elevation(level)
  if level == 0
    box-shadow none
  if level == 1
    box-shadow 0 0 10px 0 rgba(black, .12)
  if level == 2
    box-shadow 0 1px 3px rgba(black, .12), 0 1px 2px rgba(black, .24)
  if level == 3
    box-shadow 0 3px 6px rgba(black, .16), 0 3px 6px rgba(black, .23)

// @mixin
// @param String type ['body']
// @param Number weight [400]
webfont(type = 'body', weight = 400)
  if type == 'body'
    font-family 'Source Sans Variable', sans-serif
    font-variation-settings 'wght' weight

  if type == 'heading'
    font-family 'Avenir Variable', sans-serif
    font-variation-settings 'wght' weight
