// greys
WHITE = #fff
OFF_WHITE = #fafafa
LIGHTER_GREY = #ddd
LIGHT_GREY = #aaa
MEDIUM_GREY = #555
DARK_GREY = #222
BLACK = #000

// default links
LINK_COLOR = #0070c9
LINK_COLOR_VISITED = mix(LINK_COLOR, WHITE, 75%)
LINK_COLOR_HOVER = BLACK
LINK_COLOR_ACTIVE = BLACK
