// Element sizes.
BACK_ARROW_SIZE = px_to_rem(24)

CAPTION_MAX_WIDTH = px_to_rem(400)

COLUMN_GAP = px_to_rem(32)

CONTROLS_HEIGHT = px_to_rem(44)
CONTROLS_HEIGHT_MEDIUM = px_to_rem(60)
CONTROLS_ICON_SIZE = px_to_rem(36)

HEADER_HEIGHT = px_to_rem(44)
HEADER_HEIGHT_MEDIUM = px_to_rem(60)
HEADER_BUTTON_SIZE = px_to_rem(44)

IMAGE_GAP = px_to_rem(16)
IMAGE_GAP_MEDIUM = px_to_rem(24)

PUBLICATION_LINK_HEIGHT = px_to_rem(32)

SIDEBAR_WIDTH = px_to_rem(256)

SLIDE_MAX_WIDTH = px_to_rem(960)

SLIDESHOW_GAP = px_to_rem(16)
SLIDESHOW_GAP_MEDIUM = px_to_rem(32) // equal to COLUMN_GAP

THEME_BUTTON_SIZE = px_to_rem(44)
THEME_ICON_SIZE = px_to_rem(16)
THEME_ICON_SIZE_MEDIUM = px_to_rem(24)

THUMB_GAP = px_to_rem(4)
THUMB_GAP_SMALL = px_to_rem(6)
THUMB_GAP_MEDIUM = px_to_rem(8)

// Transitions.
DEFAULT_TRANSITION = .3s

IMAGE_TRANSITION = .3s

SLIDE_TRANSITION = .2s
SLIDE_TRANSITION_LARGE = .3s

THUMB_TRANSITION = .2s

// Breakpoint values.
CONTENT_MAX_WIDTH = SIDEBAR_WIDTH + COLUMN_GAP + SLIDE_MAX_WIDTH

BREAKPOINT_SMALL_UNITS = px_to_rem(480)
BREAKPOINT_MEDIUM_UNITS = px_to_rem(720)
BREAKPOINT_LARGE_UNITS = px_to_rem(960)

// Media queries with breakpoints.
BREAKPOINT_SMALL = 'screen and (min-width: %s)' % BREAKPOINT_SMALL_UNITS
BREAKPOINT_MEDIUM = 'screen and (min-width: %s)' % BREAKPOINT_MEDIUM_UNITS
BREAKPOINT_LARGE = 'screen and (min-width: %s)' % BREAKPOINT_LARGE_UNITS