// Element sizes.
CAPTION_MAX_WIDTH = px_to_rem(480)

PREV_NEXT_ICON_SIZE = px_to_rem(36)
// PREV_NEXT_ICON_SIZE_MEDIUM = px_to_rem(48)
PREV_NEXT_SIZE = px_to_rem(48)
PREV_NEXT_SIZE_MEDIUM = px_to_rem(60)

// Transitions.
TRANSITION_SPEED = .3s
SLIDE_TRANSITION = .2s ease-out
SLIDE_TRANSITION_MEDIUM = .35s

// Overall margins and breakpoints.
MARGINS_BASE = px_to_rem(12)
MARGINS_SMALL = px_to_rem(24)
MARGINS_MEDIUM = px_to_rem(64)
MARGINS_LARGE = px_to_rem(64)

BREAKPOINT_SMALL_UNITS = px_to_rem(448)
BREAKPOINT_MEDIUM_UNITS = px_to_rem(736)
BREAKPOINT_LARGE_UNITS = px_to_rem(992)
BREAKPOINT_XLARGE_UNITS = px_to_rem(1248)

MAX_WIDTH = BREAKPOINT_XLARGE_UNITS - (MARGINS_LARGE * 2)

// Media queries with breakpoints.
BREAKPOINT_SMALL = 'screen and (min-width: %s)' % BREAKPOINT_SMALL_UNITS
BREAKPOINT_MEDIUM = 'screen and (min-width: %s)' % BREAKPOINT_MEDIUM_UNITS
BREAKPOINT_LARGE = 'screen and (min-width: %s)' % BREAKPOINT_LARGE_UNITS
BREAKPOINT_XLARGE = 'screen and (min-width: %s)' % BREAKPOINT_XLARGE_UNITS