// Element sizes.
CAPTION_MAX_WIDTH = px_to_rem(400)
IMAGE_GAP = px_to_rem(16)
IMAGE_GAP_MEDIUM = px_to_rem(32)
PREV_NEXT_ICON_SIZE = px_to_rem(36)
// PREV_NEXT_ICON_SIZE_MEDIUM = px_to_rem(48)
PREV_NEXT_SIZE = px_to_rem(48)
PREV_NEXT_SIZE_MEDIUM = px_to_rem(72)

THUMB_GAP = px_to_rem(4)
THUMB_GAP_SMALL = px_to_rem(6)
THUMB_GAP_MEDIUM = px_to_rem(8)
THUMB_GAP_LARGE = px_to_rem(12)

// Transitions.
TRANSITION_SPEED = .3s
IMAGE_TRANSITION = .3s ease-out
SLIDE_TRANSITION = .2s ease-out
SLIDE_TRANSITION_MEDIUM = .3s ease-out

// Overall margins and breakpoints.
MARGINS_LARGE = px_to_rem(64)

BREAKPOINT_SMALL_UNITS = px_to_rem(448)
BREAKPOINT_MEDIUM_UNITS = px_to_rem(736)
BREAKPOINT_LARGE_UNITS = px_to_rem(992)
BREAKPOINT_XLARGE_UNITS = px_to_rem(1248)

MAX_WIDTH = BREAKPOINT_XLARGE_UNITS - (MARGINS_LARGE * 2)

// Media queries with breakpoints.
BREAKPOINT_SMALL = 'screen and (min-width: %s)' % BREAKPOINT_SMALL_UNITS
BREAKPOINT_MEDIUM = 'screen and (min-width: %s)' % BREAKPOINT_MEDIUM_UNITS
BREAKPOINT_LARGE = 'screen and (min-width: %s)' % BREAKPOINT_LARGE_UNITS
BREAKPOINT_XLARGE = 'screen and (min-width: %s)' % BREAKPOINT_XLARGE_UNITS