// Base font-sizes.
HEADING_SIZE = px_to_em(16)
CAPTION_SIZE = px_to_em(12)

H1_SIZE = px_to_em(24)
H2_SIZE = px_to_em(18)
H3_SIZE = px_to_em(14)

// Medium font-sizes.
HEADING_SIZE_MEDIUM = px_to_em(20)
CAPTION_SIZE_MEDIUM = px_to_em(14)

H1_SIZE_MEDIUM = px_to_em(36)
H2_SIZE_MEDIUM = px_to_em(24)
H3_SIZE_MEDIUM = px_to_em(18)
