// base
CAPTION_BASE = px_to_em(11)

H1_BASE = px_to_em(24)
H2_BASE = px_to_em(18)
H3_BASE = px_to_em(14)

// medium
CAPTION_MEDIUM = px_to_em(13)

H1_MEDIUM = px_to_em(36)
H2_MEDIUM = px_to_em(24)
H3_MEDIUM = px_to_em(18)
