body_font(weight = 400)
  font-family 'Source Sans Pro', sans-serif
  font-weight weight

icon()
  font-family 'Material Icons'
  font-weight normal
  font-style normal

// TODO: icon for PDF
ICON_NEW_WINDOW = 'open_in_new'
ICON_ANGLE_LEFT = 'chevron_left'
ICON_ANGLE_RIGHT = 'chevron_right'
