body_font(weight = 400)
  font-family 'Source Sans Pro', sans-serif
  font-weight weight

icon()
  font-family 'Material Icons'
  font-weight normal
  font-style normal


ICON_ANGLE_LEFT = 'chevron_left'
ICON_ANGLE_RIGHT = 'chevron_right'
// ICON_DOWNLOAD = 'open_in_new' // TODO: icon for PDF
ICON_NEW_WINDOW = 'open_in_new' // TODO: use this icon
ICON_THEME_DARK = 'brightness_5'
ICON_THEME_LIGHT = 'brightness_3'