body_font(weight = 400)
  font-family 'Source Sans Pro', sans-serif
  font-weight weight

// TODO: replace Material Icons with inline SVG.
icon()
  font-family 'Material Icons'
  font-weight normal
  font-style normal

ICON_ANGLE_LEFT = 'chevron_left' // ICON_ANGLE_LEFT => .header
ICON_DOWNLOAD = 'open_in_new'    // ICON_DOWNLOAD   => .publication
ICON_NEW_WINDOW = 'open_in_new'  // ICON_NEW_WINDOW => .publication
